.item {
  display: flex;

  padding: 10px 20px;
  background-color: white;
  border: 1px solid #8e8f99;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.status {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}
.avatar {
  margin-right: 20px;
  background-color: #f2f0f0;
  border-radius: 10px;
}
